html {
  font-size: 24px;
  color: #333;
}

a, a:hover, a:focus, a:visited
{
  text-decoration: none;
}

ul, li
{
  padding: 0;
  margin: 0;
}

.device {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    position: relative;
}

.iphone7 {
    background-image: url('../assets/images/iphone-7-white-mockup.png');
    width: 1106px;
    height: 1894px;
}

.iphone7 #i_inner {
    position: absolute;
    left: 80px;
    top: 108px;
    width: 375px;
    height: 667px;
    border-width: 0px;
}

#mobile-wrapper
{
    background: black;
    height: 667px;
}

/* START PAGE */

#start-screen
{
  height: 100%;
  background-image: url('../assets/images/iphone-start-screen.png');
  padding: 65% .25em 0;

}

.push-notification
{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 8px;
  padding: 1em;
  color: black !important;
  /*  visibility: hidden;
  opacity: 0;*/
}

.fade-in
{
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.push-notification .header .left
{
  float: left;
}

.push-notification .header .right
{
  float: right;
}

.message p
{
  margin-bottom: 0;
}

.message .headline
{
  font-weight: bold;
}

/* NEW TRANSACTION PAGE */

.new-transaction
{
  background-color: white;
}

.new-transaction .header
{
  height: 14em;
  position: relative;
  background-color: #f2f2f2;
}

.new-transaction .header .content-wrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.new-transaction .stock-price
{
  margin-bottom: 0;
}

.new-transaction .content
{
  padding: 1em;
}

.spec
{
  display: table;
  font-size: .9em;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1em;
}

.spec > *
{
  display: inline-table;
  width: 50%;
  vertical-align: top;
}

.spec .right
{
  text-align: right;
}

.spec .title
{
  margin-bottom: 0;
  color: #555;
}

.spec .amount
{
  font-weight: bold;
  margin: 0;
}




