{% extends "layout.html" %}
{% block body %}
<!-- start: mobile wrapper -->
    <div id="mobile-wrapper">
        <div class="transaction-history">
            <div class="header">
                <!-- add images here -->
            </div>
            <div class="content">
                <div class="transactions-container">
                    <ul class="transactions">
                      <h1>Transaction History</h1>


                        {% for item in seq %}
                          <li class="transaction">
                                <div class="header spec">
                                  <div class="left">
                                      <h3 class="stock-abbrev">AAPL</h3>
                               <!--        <h3 class="stock-abbrev">{{item['StockId']}}</h3>-->
                                    </div>
                                    <div class="right">
                                      <a href='#'>View transaction details</a>
                                    </div>
                                  </div>
                                  <div class="mid-info">
                                    <p><b>Confirmed at:</b> {{ item['Timestamp'] }} <br>
                                       <b>Purchase on:</b> {{item['TimestampPurch']}}</p>
                                  </div>
                                  <div class="transaction-summary spec">
                                    <div class="left">
                                      <h3 class="amount">{{ item['MoneySpent'] }}€</h3>
                                      <span class="sub-text">(Amount paid)</span>
                                    </div>
                                    <div class="right">
                                      <h3 class="amount">{{ item['Amount'] }}</h3>
                                      <span class="sub-text">(# of shares)</span>
                                    </div>
                                  </div>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    <!-- end: mobile wrapper -->
    </div>
{% endblock %}
